/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://weloveiconfonts.com/api/?family=zocial);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; }

html {
  font-size: 1em;
  overflow-x: hidden; }

html, body {
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeSpeed;
  font-family: seravek;
  font-weight: 400;
  line-height: 1.45;
  color: #323F45; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  list-style-type: none;
  list-style: none; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #323F45;
  cursor: pointer;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    color: #53565a; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small, .font_small {
  font-size: 0.707em; }

button {
  background: transparent;
  border: none; }

footer {
  padding-top: 45px;
  text-align: center; }
  footer .social {
    margin: 5%; }
    footer .social a {
      color: #53565a;
      margin-right: 5%; }
      footer .social a:hover {
        color: #878c91; }
      footer .social a img {
        display: inline;
        margin: auto;
        width: 15px; }
  footer .copyright {
    font-size: .5em; }

.sideinfo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .sideinfo:last-child {
    margin-right: 0; }
  @media (min-width: 768px) {
    .sideinfo {
      position: absolute;
      z-index: 1000;
      float: left;
      background: white;
      overflow: hidden;
      height: 100%;
      width: 45%; } }
  .sideinfo .logo {
    width: 250px;
    height: 250px; }
  .sideinfo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-top: 15%; }
  .sideinfo article {
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 60px; }
    @media (min-width: 768px) {
      .sideinfo article {
        max-width: 100%; } }
    .sideinfo article .eng {
      text-transform: uppercase;
      font-weight: 400; }
    .sideinfo article .esp {
      font-style: italic;
      font-weight: 300; }
  .sideinfo .links {
    text-align: center; }
    @media (min-width: 768px) {
      .sideinfo .links {
        display: block;
        text-align: center;
        position: relative; }
        .sideinfo .links a {
          color: #53565a; }
          .sideinfo .links a:hover {
            color: #fff; } }
  .sideinfo .btn {
    min-width: 80%;
    height: 40px;
    font-size: .9em;
    border-radius: 50px;
    margin: 15px 5px;
    border: 1px solid #53565a; }
    .sideinfo .btn:hover {
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    @media (min-width: 768px) {
      .sideinfo .btn {
        min-width: 200px; } }
  .sideinfo .email-me {
    background: transparent; }
    .sideinfo .email-me:hover {
      background: #53565a; }
  .sideinfo .booking {
    text-transform: uppercase;
    border: 2px solid transparent;
    background: #53565a;
    color: #fff; }
    .sideinfo .booking:hover {
      background: #878c91; }

.slideshow {
  display: none; }
  @media (min-width: 768px) {
    .slideshow {
      display: block;
      height: 100%;
      width: 100%;
      float: right;
      background: black;
      overflow: hidden; } }

.slideshow-image {
  position: fixed;
  margin-left: 25%;
  background: no-repeat;
  height: 100%;
  width: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 18s;
  opacity: 1;
  transform: scale(1.1); }
  .slideshow-image:nth-child(1) {
    animation-name: kenburns-1;
    z-index: 2; }
  .slideshow-image:nth-child(2) {
    animation-name: kenburns-2;
    z-index: 1; }
  .slideshow-image:nth-child(3) {
    animation-name: kenburns-3;
    z-index: 0; }

@keyframes kenburns-1 {
  0% {
    opacity: 1;
    transform: scale(1.1); }
  1.38889% {
    opacity: 1; }
  31.94444% {
    opacity: 1; }
  34.72222% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.1); }
  98.61111% {
    opacity: 0;
    transform: scale(1.104); }
  100% {
    opacity: 1; } }
@keyframes kenburns-2 {
  31.94444% {
    opacity: 1;
    transform: scale(1.1); }
  34.72222% {
    opacity: 1; }
  65.27778% {
    opacity: 1; }
  68.05556% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.1); } }
@keyframes kenburns-3 {
  65.27778% {
    opacity: 1;
    transform: scale(1.1); }
  68.05556% {
    opacity: 1; }
  98.61111% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1); } }
