//Mixins

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@mixin abs-center() {
  position: absolute;
  top:50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

@mixin cover ($image){
  background: url($image) no-repeat center center;
  @include size(100%);
  @include background-size(cover);
}


@mixin vertical-align (){
    position: relative;
    top:50%;
    left:50%;
    @include transform(translate(-50%, -50%));

}



@mixin wrap{
    max-width:960px;
    margin:0 auto;
}

@mixin flexit{
   display: flex;
  justify-content: center;
  align-items: center;

}


@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}


@mixin centerEl ( $left: 50%, $width: 50%, $align: center ) {
  position: absolute;
  top: 50%;
  left: $left;
  -ms-transform: translate($left * -1,-50%);
  -webkit-transform: translate($left * -1,-50%);
  transform: translate($left * -1,-50%);
  width: $width;
  > * {
    display: block;
    padding: 0 10px;
    text-align: $align;
    width: 100%;
  }
}

@mixin center-me($top, $left) {
  position: absolute;
  top:$top;
  left:$left;
  @include transform(translate(-50%, -50%));
}



// // A sleep() mixin in Sass
// // ------------------------------
// // @param $duration: duration
// // @param $pseudo: pseudo-element to use, default :before
// // ------------------------------
// @mixin sleep($duration, $pseudo: 'before') { 
//   @at-root {
//     html {
//       height: 100%;
      
//       &:#{$pseudo} {
//         content: '';
//         position: fixed;
//         top: 0; right: 0; bottom: 0; left: 0;
//         background: white;
//         -webkit-animation: sleep $duration * 1s steps(1) forwards;;
//         animation: sleep $duration * 1s steps(1) forwards;
//       }
//     }

//     @keyframes sleep {
//       to {
//         opacity: 0;
//         pointer-events: none;
//       }
//     }
//   }
// }


// /* SCSS Filter Mixin */ 
// // grayscale      ex: filter: grayscale(100%);
// // sepia          ex: filter: sepia(100%);
// // saturate       ex: filter: saturate(0%);
// // hue-rotate     ex: filter: hue-rotate(45deg);
// // invert         ex: filter: invert(100%);
// // brightness     ex: filter: brightness(15%);
// // contrast       ex: filter: contrast(200%);
// // blur           ex: filter: blur(2px);
 
// @mixin filter($filter-type,$filter-amount) { 
//   -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
//   -moz-filter: $filter-type+unquote('(#{$filter-amount})');
//   -ms-filter: $filter-type+unquote('(#{$filter-amount})');
//   -o-filter: $filter-type+unquote('(#{$filter-amount})');
//   filter: $filter-type+unquote('(#{$filter-amount})');
// }

// .blur { 
//       @include filter(blur, 2px); 
//     }

// .brighter { 
//   @include filter(brightness, 150%); 
// }

// .blackandwhite { 
//   @include filter(grayscale, 100%); 
// }

// .contrast { 
//   @include filter(contrast, 200%); 
// }

// .hue-rotate { 
//   @include filter (hue-rotate, 45deg); 
// }

// .saturate { 
//   @include filter(saturate, 60%); 
// }


