html {
    font-size: 1em;
    overflow-x: hidden;
}

html, body {
    padding:0;
    height: 100%;
    @include font-smoothing;
    text-rendering: optimizeLegibility;
    @include image-rendering(optimizeSpeed);
    font-family:seravek;
    font-weight:400;
    line-height: 1.45;
    color:$grey;
  
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    list-style-type: none;
       list-style:none;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
    color:$grey;
    cursor:pointer;
    @include transition(all 0.2s ease-in-out);

    &:hover{
        color:$main-color;

    }
}


p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}


button {
    background: transparent;
    border: none;
}
