///////////////////////////////////////////////////////////////////////////////////
$brand: "../assets/img/logo.png";
$large-screen: em(860) !default;
$hero-color:white;
///////////////////////////////////////////////////////////////////////////////////
.sideinfo {
    @include span-columns(12);
    @include breakpoint(sm) {
        position: absolute;
        z-index: 1000;
        float: left;
        background: $hero-color;
        overflow: hidden;
        @include size(45% 100%);
    }
    .logo{
        width:250px;
        height:250px;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        margin-top: 15%;
    }
    article {
        max-width: 300px;
        text-align: center;
        @include center;
        margin-top: 60px;
        @include breakpoint(sm) {
            max-width: 100%;
        }
        .eng {
            text-transform: uppercase;
            font-weight: 400;
        }
        .esp {
            font-style: italic;
            font-weight: 300;
        }
    }
    .links {

        text-align: center;
        @include breakpoint(sm) {
            display: block;
            text-align: center;
            position: relative;
            a {
                color: $main-color;
                &:hover {
                    color: $white;
                }
            }
        }
    }
    .btn {
                 min-width: 80%;
                  height: 40px;
        font-size: .9em;
        border-radius: 50px;
        margin: 15px 5px;
        border: 1px solid $main-color;
        &:hover {
            @include transition(0.2s);
        }

        @include breakpoint(sm) {
        min-width: 200px;
       

        }
       
    }
    .email-me {
        background: transparent;
        &:hover {
            background: $main-color;
        }
    }
    .booking {
        text-transform: uppercase;
        border: 2px solid transparent;
        background: $main-color;
        color: $white;
        &:hover {
            background: $main-color-clear;
        }
    }
}
