footer{
  padding-top:45px;
  text-align: center;



	.social{
		margin:5%;
			a{

				color:$main-color;
				margin-right: 5%;
				&:hover{
					color:$main-color-clear;
				}
				img{
					display: inline;  
					margin:auto;
					width:15px;

				}
			}

	}

	.copyright{

		font-size:.5em;
	}

}